<!DOCTYPE html>
<html>
<head>
	<title>Employee Information</title>
</head>
<center>
	<font color="black" size="5" style="font-family: avenir">

		<h1 style="color: orange">Employee Information</h1>

		<body bgcolor="grey" background="https://s3.amazonaws.com/deepcloud-learnaws-bucket/GetEmp.png">

			<form>

				<div>

					<IMG STYLE="position:absolute; TOP:165px; LEFT:170px; WIDTH:350px; HEIGHT:250px" SRC="https://s3.amazonaws.com/deepcloud-learnaws-bucket/Donald-duck.png">

			  		Employee ID:<br> {{ id }} <br><br>

			  		First Name:<br> {{ fname }} <br><br>

			  		Last Name:<br> {{ lname }} <br><br>

			  		Primary Interest:<br> {{ interest }} <br><br>

			  		Location:<br> {{ loc }} <br><br>

			  		<button type="submit" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;" formaction="http://127.0.0.1:80">RESET</button><br><br>

			  	</div>

			</form>

		</body>

	</font>
</center>
</html>
